{% extends 'base.html.twig' %}

{% block title %}Contact us!{% endblock %}

{% block body %}

<div class="col-7">
    <h2>Kapcsolat</h2>
    {{ form_start(form, {'action': absolute_url('/'), 'method': 'POST'}) }}
        <div class="mb-3">
            {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.name) is not empty %}
                <div class="mt-3 alert alert-danger" role="alert">
                    {{ form_errors(form.name) }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.email) is not empty %}
                <div class="mt-3 alert alert-danger" role="alert">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form_label(form.message, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.message) is not empty %}
                <div class="mt-3 alert alert-danger" role="alert">
                    {{ form_errors(form.message) }}
                </div>
            {% endif %}
        </div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
    
    {% if app.session.flashbag.peekAll()|length %}
        <div class="mt-3 alert alert-success" role="alert">
            <span>Kedves {{app.flashes('senderName')[0]}}!</span>
            <span>Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott {{app.flashes('senderEmail')[0]}} e-mail címen.</span>
        </div>
    {% endif %}
    
</div>
{% endblock %}
