<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ absolute_url('assets/css/style.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ absolute_url('assets/plugins/bootstrap-5.0.1/css/bootstrap.min.css') }}"/>
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ absolute_url('assets/js/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ absolute_url('assets/js/popper.min.js') }}"></script>
            <script src="{{ absolute_url('assets/plugins/bootstrap-5.0.1/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
